# Server Port
server:
  port: 9090


spring:
  # SQL
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:25432/postgres
    username: fivupnow
    password: '!new1234'
  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: true

logging:
  file:
    name: dataJpaExLog
  logback:
    rolling policy:
      max-history: 10
  level:
    sql: info
    com.kt.springframework: debug