<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="Industry플랫폼" content="width=device-width">
    <title></title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th> </tr>
            </thead>
            <tbody>
            <tr th:each="userInfo : ${userInfos}">
                <td th:text="${userInfo.index}"></td>
                <td th:text="${userInfo.userId}"></td>
                <td th:text="${userInfo.password}"></td>
                <td th:text="${userInfo.email}"></td>
                <td th:text="${userInfo.age}"></td>
                <td th:text="${userInfo.getRegisterDate()}"></td>
                <td th:text="${userInfo.getModifyDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>